<h1>Edit Deliverable</h1>

<div class='ui grey segment'>

<%= form_for @deliverable, url: account_deliverable_path(@deliverable.account.id) do |d| %>

    <%= d.hidden_field :account_id, value: @deliverable.account.id %>


    <%= d.label :report_type %>
    <%= d.text_field :report_type %><br><br>
    
    <%= d.label :description %>
    <%= d.text_field :description %><br><br>

    <%= d.label :date_assigned %>
    <%= d.date_field :date_assigned %><br><br>

    <%= d.label :due_date %>
    <%= d.date_field :due_date %><br><br>

    <%= d.submit %>
    <% end %>
</div>