<h1>Add A Deliverable</h1>

<%= form_for(@deliverable) do |f| %>

<%= f.fields_for :deliverables do |d| %><br>
    <%= d.label :type %>
    <%= d.text_field :type %><br>
    
    <%= d.label :description %>
    <%= d.text_field :description %>

    <%= d.label :date_assigned %>
    <%= d.date_field :date_assigned %>

    <%= d.label :due_date %>
    <%= d.date_field :due_date %>

    <%= d.submit %>
    <% end %>

<% end %>