<h2>Accounts</h2>
      <% counter = 0 %>
       <% @accounts.each do |account| %>
          <%= counter += 1 %>.
           <%= link_to account.name, account_path(account)%>
           <%= strategist.name if account.strategist%> 
           Tier: <%= account.tier %><br>
          Industry: <%= account.industry %><br><br>
           ACV: $<%= account.acv %><br><br>
           
       <% end %>


   <%= link_to "Add an Account", new_account_path%>