<h1>One Account</h1>

<p> <%= @account.name %><br><br>
    <%= @account.tier %><br><br>
    $<%= @account.acv %><br><br>
<% if @account.user == current_user %>
  <%= link_to "Edit Account", edit_account_path(@account) %><br><br>
  <%= link_to "Delete Account", account_path(@account), method: :delete  %>
<% end %>