<h1>Account</h1>

<h3><%= @account.name %></h3><br>
<div class= 'ui grey segment'>
    Account Tier: <%= @account.tier %><br><br>
    Account ACV: $<%= @account.acv %><br><br>
    Account Owner: <%= @account.user.username %><br><br>
    Account Strategist: <%= @account.strategist %><br><br>
<% if @account.user == current_user %>
  <div class= 'ui button'>
  <%= link_to "Edit Account", edit_account_path(@account) %><br>
  </div>
  <div class= 'ui button'>
  <%= link_to "Delete Account", account_path(@account), method: :delete  %><br>
  </div>
  <div class= 'ui button'>
  <%= link_to "Add Deliverable", new_account_deliverable_path(@account), method: :get  %><br>
  </div>
  <% end %>
</div>


<div class="ui grey segment">
<h3>Deliverables Sorted By Due Date</h3>
<ul>
    <% sort_deliverables.each do |del| %>
        <li><%= del.report_type %></li>
                        
    <% end %>
</ul>
</div><br>


<div class ='ui grey segment'>
       <% @account.deliverables.each do |account|%>
        <div class= 'ui button'>
        <%= link_to "Edit Deliverable", edit_account_deliverable_path(@account), method: :get  %><br>
        </div>
  
           <h5>Deliverable Type: <%= account.report_type.capitalize %></h5>
            <h5>Description: <%= account.description %></h5>
           <h5>Date Assigned: <%= account.date_assigned.strftime("%m/%d/%Y") %></h5>
           <h5>Due Date: <%= account.due_date.strftime("%m/%d/%Y") %></h5>
           
           <% end %>
           </div>
